XMLEditor/SampleData/SampleNode/SampleNode.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" xmlns:tns="Expression.Blend.SampleData.SampleNode" targetNamespace="Expression.Blend.SampleData.SampleNode" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="SampleNode" type="tns:SampleNode" />
  <xs:complexType name="SampleNode">
    <xs:sequence>
      <xs:element name="Attributes" type="tns:Attributes" />
    </xs:sequence>
    <xs:attribute blend:Format="Name" name="Value" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="Attributes">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="AttributesItem" type="tns:AttributesItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AttributesItem">
    <xs:attribute name="Name" type="xs:string" />
    <xs:attribute blend:Format="Lorem ipsum" blend:FormatParameters="4,8" name="Value" type="xs:string" />
  </xs:complexType>
</xs:schema>